[2014-11-13 09:59] herenowcoder opened #1 "Upgrade to Elixir 1.0, Hexify"
Hi!

This is very interesting code. Please do some maintenance with catching up todays state-of-the-art stuff: Elixir 1.0.x line, Hex ..etc.

cheers :]

Wojtek

[2015-03-04 07:11] kamilc commented on #1
@herenowcoder This has been done with the latest release. Thanks.

[2015-03-04 07:11] #1 closed

[2015-03-23 17:28] danmcclain opened #4 "HTML emails don't get properly encoded"
I'll have a PR for this shortly, hopefully. I can provide the failing test now

[2015-03-25 08:31] #4 closed

[2015-04-14 06:23] daneb opened #7 "module EEx is not available"
Hi

I'm using mailman on Mac OS X Yosemite (10.10.2).
I followed the tutorial as specified but ran into the following error when sending an email.

My configuration:

[code]

[code]

Am I missing something obvious?
Please let me know if I can assist or provide more information....

[2015-04-14 06:32] daneb opened #8 "Mix test - 2 tests fail"
Good

Thanks again for your effort here.
In trying to resolve my prior logged issue, I pulled the latest repo and had 2 unit tests fail.

[code]

Is this me or legitimate issues?

Thanks
Dane

[2015-04-14 19:28] kamilc commented on #7
I'll troubleshoot - it seems strange at first glance. Thanks for filing a bug!

[2015-04-14 19:30] kamilc commented on #8
@daneb Yes, that's supposed to be like that **for now** as there's no eiconv package in Hex currently... Take a look at this part of README: https://github.com/kamilc/mailman#using-with-hex

[2015-04-14 19:30] #8 closed

[2015-04-15 12:30] kamilc commented on #7
@daneb It seems very strange - the EEx module comes with Elixir. Which version of Elixir are you running?

[2015-04-15 12:49] daneb commented on #7
Exactly!
I've put the repo online, maybe I've done something wrong.

https://github.com/daneb/ice

Elixir 1.0.4
Erlang/OTP 17

[2015-04-15 13:01] kamilc commented on #7
It works just fine on my machine... Later I'll try upgrading Elixir from 1.0.0 to 1.0.4 and try again

[2015-04-15 13:13] daneb commented on #7
Excellent - thanks for the feedback

[2015-04-16 12:43] daneb commented on #7
A friend ran this on Mac OS X 10.10.2 with 1.0.2 and ran into the same issue.
What OS are you running?

[2015-04-16 13:26] daneb commented on #7
Ok fixed!
[applications: [:logger, :eex]]

[2015-04-16 13:26] #7 closed

[2015-05-01 21:41] bradcypert opened #9 "Any example of using a Third Party SMTP server?"
I'm interested in using Google's SMTP server as I'm not able to run one locally. Can an example be provided for hooking into a third-party SMTP ? I tried exploring the codebase, but I'm relatively new to Elixir, too.

Thanks!

[2015-05-04 06:19] daneb commented on #9
I've just implemented something basic while I was on the same path as you.
[Github](https://github.com/daneb/ice/tree/master/lib)

[2015-05-20 20:22] daneb opened #11 "HTML Templates not working on send"
Hello ;)

I realise there is a PR for this, but I don't want others who may be considering mailman to spend time configuring and implementing a solution only to realise the problem.

I make reference to:
https://github.com/kamilc/mailman/pull/10

Thanks and look forward to the fix!
Dane

[2015-05-21 06:18] kamilc commented on #11
This has been merged. I'll bump the version and will upload the new one to Hex very soon.

[2015-05-21 06:37] daneb commented on #11
YAY! Thank you ;)

[2015-05-21 06:37] #11 closed

[2015-05-25 13:46] kamilc commented on #9
@bradcypert Did the above advice work for you? If so would you please go ahead and close the ticket? Thanks

[2015-05-25 14:05] bradcypert commented on #9
Sorry! That definitely did work for me! Closing.

[2015-05-25 14:05] #9 closed

[2015-07-08 07:50] houshuang commented on #9
It would be useful to add a simple example of the SmtpConfig struct in the README, I always have to look up in the code to find the fields.

[2015-07-11 11:13] houshuang opened #13 "Always returns :ok?"
This is a great library, and I'm using it to send hundreds of personalized emails per day through Amazon SES. However, it seems that it always returns :ok, no matter if it was successful or not - even on completely made up domains (I'm using the external_smtp module).

This becomes especially important because Amazon has some rate limiting, and I should be able to retry if a mail fails, etc.

(Act

[2015-07-16 19:08] houshuang opened #15 "Cannot deal with UTF8 sender names"
[code]

[2015-08-03 08:08] kamilc commented on #13
Yah, it seems that we should incorporate some success/error checking. Thank you for the suggestion. I'm not aware of any high level email sending libraries but it seems that the behaviors you're after are pretty general and could be encapsulated in a library.

[2015-08-03 08:10] kamilc commented on #15
Thanks for reporting - I should have some time soon to get it fixed.

[2015-09-01 06:36] swerter opened #17 "Attachment without MIME type in file path"
Hi

If the attachment does not contain any MIME type information in the path, function mime_full_for_path(path) will return nil, which then brakes mime_type_for_path(path) on line 698 in file lib/mailman/attachment.ex

Would be great if you could have a look. Thanks.

[2015-09-01 14:06] dejanstrbac commented on #17
Should be fixed with #18 , @kamilc please check, it's a very tiny PR.

[2015-09-04 19:08] dejanstrbac commented on #15
This is not a bug, but wrong parameter, normalize_addresses expects a list, not a string:

iex(2)> Mailman.Render.normalize_addresses(["Stian Håklev <shaklev@gmail.com>"])
["Stian Håklev <shaklev@gmail.com>"]

Cheers

[2015-09-21 07:51] kamilc commented on #17
The #18 has been merged. Could you confirm on your end @swerter that it works well now for you? Thanks

[2015-09-21 07:51] #15 closed

[2015-09-21 07:52] kamilc commented on #13
I've just merged in the pull request that drops the Async usage from sending. The function call now returns the underlying execution info from gen_smtp. I'm closing the ticket.

[2015-09-21 07:52] #13 closed

[2015-09-21 08:11] swerter commented on #17
Yep, all good. Thanks :)

[2015-09-21 08:17] kamilc opened #21 "Documentation update needed"
Some of the docs we have are out of date. We need to update that to match the API we now have.

[2015-09-21 08:22] kamilc opened #22 "Move the config part to standard Mix.Config"
I think it would benefit everyone to conform to the standard Mix.Config so that the learning curve would ease for newcomers.

[2015-09-21 08:25] kamilc commented on #17
Great - Thanks

[2015-09-21 08:25] #17 closed

[2015-09-29 21:16] zmoshansky commented on #22
This would be great! I'm currently working on a meta-notification system that uses Mailman as an email adapter and this would help.

[2015-10-05 16:59] Musashi178 opened #25 "Email adapter have different blocking behavior"
Hi,

I noticed that the TestAdapter will do a non-blocking cast for delivering emails, but other adapters will do a blocking call. This causes different handling of the deliver result depending whether I am running my tests or being in dev or production mode. They all should be either blocking or non-blocking.

[2015-11-08 17:22] fabiokr opened #26 "Error when parsing email without attachment info"
I get this error when trying to parse an email without attachment info:

Example email: https://gist.github.com/fabiokr/13639921d958d3949cfb

[code]

[2015-11-25 11:12] swerter opened #28 "Sending emails with full name does not work"
If you give a sender or recipient a full email address, e.g., "Jim Jack <j.j@test.com>", the email cannot be sent. See my pull request https://github.com/kamilc/mailman/pull/29 for a fix.

[2015-12-26 01:07] lpil commented on #22
:+1:

[2015-12-28 23:11] MisterToolbox opened #31 "Attachments with extension not in @mime_types fail"
Attaching a .docx, for instance, generates the following:

[code]

[2015-12-29 00:09] Gidrek commented on #26
I have to add mime type in my case

[2015-12-29 00:10] Gidrek commented on #31
I have to add mime type in my case

[2015-12-29 15:00] sashaafm opened #32 "Delivering emails from an external service always gets a time out?"
I'm trying to use your library to send emails from either Gmail or Amazon SES and I think I have everything correctly configured like you have on the README and also from this blog post (my code is pretty much the same):

http://reganmian.net/blog/2015/09/03/sending-and-receiving-email-with-elixir/

Everything seems to work when I use Local SMTP but if I try with an external server it always gets

[2015-12-29 17:49] #32 closed

[2015-12-29 18:56] MisterToolbox commented on #31
Manually adding this to attachments.ex will get you there.

[code]

Ultimately, I'd think that mime_type_for_path(path) and mime_sub_type_for_path(path) should handle path being nil and default to application/octet

[2015-12-29 19:01] MisterToolbox opened #33 "Attachment encoding options"
Attachments are by default, Base64 encoded. It'd be nice to have that be optional, either in a global Mailman config setting, or maybe per attachment by passing a tuple with the path and options to the inline function.

[2015-12-29 19:12] Gidrek commented on #31
We should do something like mailgun

    file_parts = Enum.map(files, fn {field_name, file_name, file_content} ->
      [:lists.concat(['--', boundary]),
       :lists.concat(['Content-Disposition: format-data; name=\"', :erlang.atom_to_list(field_name), '\"; filename=\"', file_name, '\"']),
       :lists.concat(['Content-Type: ', 'application/octet-stream']),
       '',
       file_content]
    e

[2016-02-03 21:22] mremond commented on #22
Yes, I think this would be cool as well. As any work already been done in that direction ?

[2016-02-04 08:01] kamilc commented on #22
Good to know you all agree it would be a good improvement. I'm booked with lots of clients work and will be for at least next couple of weeks. Is there any chance any one of you could take a stab at it?

[2016-02-04 08:23] mremond commented on #22
Yes, that was my purpose: Make sure that it would not be duplicate work. I am using your lib for a side project, so no promise, but if I can spend enough time, I will give it a try. Thanks !

[2016-02-04 08:24] kamilc commented on #22
Thank you so much then! :)

[2016-02-22 11:52] edevil opened #37 "Update iconv dependency"
Currently mailman depends on a specific eiconv fork that is not on hex.pm. It seems this module is deprecated and https://hex.pm/packages/iconv is the module to use. Since this module is even in hex.pm already, it would be much better to depend to this one.

[2016-02-26 09:24] #22 closed

[2016-02-26 09:24] kamilc commented on #22
Closed as the pull request adding that has been merged in

[2016-02-26 09:24] kamilc commented on #28
Merged in - Thank again!

[2016-02-26 09:24] #28 closed

[2016-02-29 16:13] edevil commented on #37
I've noticed that the dependency comes from gen_smtp, I'll file an issue there.

[2016-02-29 16:13] #37 closed

[2016-03-09 23:11] nathany opened #39 "Ecto 2 Allowances for TestingAdapter"
When upgraded a Phoenix project to Ecto 2.0-beta.2 we see the following error in our mailer tests:

There are two solutions to this issue, as documented in [Ecto.Adapters.SQL.Sandbox](https://hexdocs.pm/ecto/2.0.0-beta.2/Ecto.Adapters.SQL.Sandbox.html).

For now we're using Shared mode, which works but runs the mailer tests synchronously. To have all the tests run concurrently, we could use Allowa

[2016-03-14 04:04] gshaw opened #40 "Change ex_doc dependency to be only for dev environment"
I'd like to keep the `ex_doc` dependency of my project only the development environment so it isn't brought into production. I'm pretty sure the same could be said for mailman.

The fix is to add an `only` clause to the dependency.

[code]

[2016-03-21 01:00] keichan34 commented on #39
Similar situation -- I'm working on making more of my tests async and Ecto 2.0. I'm currently using solutions in my PRs #44 and #45:

* #44 for a `MyApp.TestingAdapter` that has similar contents to what you have there, with the Repo hardcoded in. My rationale for not patching Mailman for this was because Mailman should not be dependent on Ecto.
* #45 for the actual async tests not interfering with

[2016-03-22 17:24] nathany commented on #39
Thanks.

I agree it makes sense to not depend on Ecto. Does using independent test processes have any significant impact on how quickly tests run?

[2016-03-23 00:20] keichan34 commented on #39
In my case, it's speeding tests up because the central TestServer was the bottleneck when doing a bunch of mailer tests in parallel.

[2016-03-23 01:21] nathany commented on #39
Very nice. Thanks a bunch.

I'm gonna close this issue since you're obviously on top of it.

[2016-03-23 01:21] #39 closed

[2016-04-30 04:12] martinos opened #48 "TestingAdapter `deliver` function doesn't return the same type as ExternalSmtpAdapter"
The `TestingAdapter.deliver` function returns a `Task`, however the `ExternalSmtpAdapter.deliver` returns a tuple: `{:ok, message}`.

I think that both function should return the same type, it would make tests behave more like production code.

[2016-05-28 08:30] Awea commented on #40
Can this be merged ?

[2016-05-29 18:57] gshaw commented on #40
I haven't checked recently but at the time I created the PR it was good to merge.  Just waiting for the project owner to push it.

[2016-05-29 19:57] Awea commented on #40
@gshaw Yep :) Just trying to reup.

[2016-06-05 22:51] IamfromSpace commented on #48
+1 for this.  Will be pointing to your branch until the PR goes through.

[2016-06-07 21:14] hamann commented on #48
@kamilc Is there a reason to have different results? Writing code with tests and matching against result isn't possible because of this

[2016-07-06 00:59] sheldonkreger opened #52 "warning: the dependency :mailman requires Elixir "~> 1.0.0" but you are running on v1.3.1"
When I compile Mailman with mix deps.compile, I receive this warning. If Mailman works in 1.3.1, then we should remove this warning. If not, we should open an issue to bring it up to date.

[2016-07-06 01:04] sheldonkreger commented on #52
Sorry, I was using an old version of Mailman.

[2016-07-06 01:04] #52 closed

[2016-08-05 06:03] satb opened #53 "From "name" possible instead of from email?"
Is it possible to send the email such that the receiver see's the from name instead of the from email address?

Something like this:

`
"John Smith <john@company.com>"
`
This format is resulting in mailman completely dropping the email delivery.

I'll try taking a look if I can get a pointer (if it is possible)

[2016-08-05 06:24] satb commented on #53
I came across this issue - https://github.com/kamilc/mailman/pull/29/files
But this is not working for me. I am using SES and it supports the format

[code]
However, sending it this way is resulting in the email not even being delivered. Not sure if it is mailman that is dropping it or SES.

[2016-08-08 21:10] zberkom commented on #48
👍 Experiencing the same issue here. Both adapters should return a `Task`.

[2016-08-12 12:31] #40 closed

[2016-08-16 11:53] madshargreave opened #55 "Is it possible to change Transfer-Encoding?"
Hi

How can I change the Transfer-Encoding header from quote-printable to 7bit.

The quote-printable encoding breaks my link tags in Gmail

[2016-09-06 09:30] GildedHonour opened #56 "How to send an email through an external smtp server?"
How to send an email through an external smtp server?

[2016-10-10 10:05] rvanlieshout commented on #56
You can use something like the following in your config/dev.exs or config/prod.exs:

[code]

[2016-10-12 07:21] tianjianyong opened #57 "These compiling warnings should be resolved, thanks."
==> mailman
warning: the dependency :mailman requires Elixir "~> 1.0.0" but you are running on v1.3.3
Compiling 17 files (.ex)
warning: redefining @doc attribute previously set at line 3
  lib/mailman.ex:8: Mailman (module)

warning: parentheses are required when piping into a function call. For example:

[code]

is ambiguous and should be written as

[code]

Ambiguous pipe found at:
  lib/mailman

[2016-11-17 20:17] skosch opened #61 "CC/BCC emails aren't sent"
This may be related to vagabond/gen_smtp#11 – CC'ed emails show up in the header but aren't being sent, and BCC'ed addresses are ignored entirely.

Am I doing it wrong? Is this an issue with the mailserver I'm using? Please enlighten me!

(Other than that, 100 × thank you for this amazing library!)

[2016-11-25 17:16] skosch commented on #61
.... or maybe I'm misunderstanding what CC and BCC are supposed to do, and they're really just headers –  but in that case, you need an extra field for specifying the "To" header, since `to` is already used to list all recipients.

[2016-11-25 20:08] skosch commented on #61
Never mind me, I now see how it works. For others: if you want CC/BCC emails to be delivered, call `Mailman.deliver(email, config, :send_cc_and_bcc)`. I feel like this should be documented somewhere?

[2016-11-25 20:08] #61 closed

[2016-11-30 13:12] vasspilka opened #62 "eiconv lib being deprecated"
According to [eiconv](https://github.com/processone/eiconv/), it is being deprecated in favor of their new tool [iconv](https://github.com/processone/iconv/).
Can I make a PR swapping the 2 libs?

[2016-12-16 16:58] kin9puppy commented on #26
Interested to see the answer here as well.

[2016-12-16 17:01] kin9puppy commented on #56
Is this incorrect? I am having trouble getting a decent error telling me what is going wrong.

[code]

[2016-12-27 10:23] kamilc commented on #62
@vasspilka Thank you for the heads up - yes, you are very welcomed to create PRs :)

[2016-12-27 10:33] kamilc commented on #56
@rvanlieshout, @kin9puppy I've updated the README to include an exemplary external SMTP config. Thanks!

[2016-12-27 10:33] #56 closed

[2017-01-02 08:50] vasspilka commented on #62
Ok, on it

[2017-01-05 09:40] vasspilka commented on #62
Sry holiday mood was too distracting gonna do the PR later today

[2017-01-05 15:42] vasspilka commented on #57
I don't get these warnings when compiled with `mix compile`.
I do however get these 4

[code]

Using:
Erlang/OTP 19 [erts-8.1.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.3.4

[2017-01-05 15:57] vasspilka commented on #62
Seems this won't work out that easily, `gen_smtp` is using [zotonic/eiconv](github.com/zotonic/eiconv), same as here, however it seems that eiconv was originally created by Process One [processone/eiconv](github.com/processone/eiconv) and they are the ones to have depricated their eiconv for [processone/iconv](github.com/processone/eiconv). So we would have to start with `gen_smtp`, I'll open an i

[2017-02-27 13:38] #62 closed

[2017-03-08 09:36] vishal-h opened #65 "Custom email header support"
Support custom Email headers like
ADD THE FOLLOWING HEADER TO THE EMAIL, "X-MAILGUN-VARIABLES: {"MY_MESSAGE_ID": 123}".

Taken from
http://resources.mailgun.com/webhooks.html

[2017-03-23 19:15] ryanpager commented on #65
I would also need this as well -- is this possible using the library?

[2017-04-06 14:16] benwilson512 opened #67 "Is eiconv still actually a dependency?"
I can't seem to find any uses in your code base. GenSMTP doesn't seem to need it either unless I missed something.

[2017-04-06 14:48] benwilson512 commented on #67
Ah yeah https://github.com/Vagabond/gen_smtp/blob/master/src/mimemail.erl uses it. Unfortunately the version listed is incompatible with the `iconv` version on hex, yay.

[2017-04-19 15:11] Ch4s3 opened #68 "Does Mailman need help or a new home?"
@kamilc I'm using a fork of mailman at the moment to get it working, but I'm not sure that's sustainable. Do you need help maintaining the package? I'd be happy to pitch in here an triage PRs.

[2017-04-20 08:59] kamilc commented on #67
Yup, I'll close this one then

[2017-04-20 08:59] #67 closed

[2017-05-03 08:53] lessless commented on #65
This is something we need too!

[2017-06-15 08:55] CreatingEV opened #69 "Attatchment file name incorrect"
Hi, all
My attachment file name with Chinese character is not correctly showed in mail box.

[2017-08-18 09:52] skosch commented on #68
@Ch4s3 It doesn't look you have your fork public on github, but I'd love to take a look at it. Having written a bunch of custom code myself to sidestep some of Mailman's issues, I totally agree that this is an important package and that it could use some TLC :)

[2017-08-18 10:10] kamilc commented on #68
@Ch4s3 @skosch I agree that Mailman needs a helping hand. Sorry for keeping this ticket unresponded for so long. Would you guys be willing to get involved as collaborators and handle the PR's, fixes etc?

[2017-08-18 10:28] skosch commented on #68
@kamilc Thank you for the offer. I can't make any promises as to the extent of my contributions for the next half year or so, but I'm happy to help where I can, sure! I think just looking through the open issues as well as existing forks will turn up a lot of small, easy fixes.

[2017-08-31 16:04] Ch4s3 commented on #68
I'll put up a fork soon, and tag you all in. Sorry for the delay, I was on vacation.

[2017-08-31 18:09] kamilc commented on #68
@skosch @Ch4s3 I've just sent you invites to become collaborators. I'll need to double check the repo settings to be sure you have all the control you'll need. Thanks for your help!

[2017-08-31 18:11] skosch commented on #68
Thank you @kamilc. The next two months are looking pretty rough for me work-wise but I anticipate being able to help out more in the fall :)

[2017-08-31 19:25] kamilc commented on #68
@skosch No worries, and Thanks again!

[2017-09-05 13:42] Ch4s3 commented on #68
I'll take a look as soon as I can!

[2017-09-08 01:50] skosch opened #70 "Inline images"
(Mostly FYI @kamilc and @Ch4s3)

I need to send emails with inline images, so I just created a new branch called `inline-images`. From what I can tell, the missing pieces are `Content-Disposition: inline` and `Content-ID: ...`, and for now I'd be happy to let users add those in manually. However I now see that gen_smtp won't take extra parameters, so I'll be opening an issue there too.

I'm also g

[2017-09-08 05:45] kamilc commented on #70
That sounds great @skosch - Thanks!

[2017-09-08 07:44] kamilc opened #71 "Moving to organization based repo"
@skosch @Ch4s3

I figured that keeping the project under my account could be misleading as to the origins of efforts from now on. Because of this, I've just created a new organization in GitHub for the project and invited you both: mailman-elixir.

The repo has been cloned over there and lives at: https://github.com/mailman-elixir/mailman

Could you please make sure you have the needed access? It'

[2017-09-08 14:35] skosch commented on #71
That's really sweet. :) I think there's a way to transfer a repo to a new owner, including all issues and stars etc. I would suggest you scrap the cloned repo and then transfer this one over (I think there's a button in your repo settings).

[2017-09-10 01:39] skosch commented on #70
Done; along with an updated README and some other small fixes.

Note that the meanings of `attach` and `inline` have changed to correspond to their actual semantics (i.e. attachment disposition). You can now use file paths or URLs for either.

I'm trying to follow the common Elixir style guides as best as I can with the code I write, though I haven't gone through to fix everything (I know spaces i

[2017-09-13 15:13] skosch commented on #71
@kamilc sorry to bug you again – do you think you could look into this and #70 sometime?

[2017-09-13 16:22] kamilc commented on #71
@skosch Its not a bother - I will take a look as soon as I'm out of the hospital (most probably beginning of the next week). Sorry for the delay

[2017-09-14 04:23] skosch commented on #71
Oh no! In that case, take your time :anguished: hope you're doing okay!

[2017-09-22 07:04] kamilc commented on #70
@skosch This is **mighty**! :) Looks awesome - Thanks so much for the effort. We can merge it into the master, update the version number and publish to hex. I'll let you do the first part ion case there's anything you might want to add to the solution. Once we have that in master I'll go ahead and publish for other folks to use.

Thanks again!

[2017-09-22 07:06] kamilc commented on #71
It was a pretty light surgery - I'm doing just fine :)

So as you can see I transferred the repo to our organization (Thanks for the suggestion - I wasn't aware that we can do that). I've also took a look at the inline images branch and updated the ticket for my comments.

[2017-09-22 14:20] skosch commented on #71
Excellent, thank you, and I hope you'll be back on your feet soon! I think we can close this thread then :)

[2017-09-22 14:20] #71 closed

[2017-09-22 14:23] #65 closed

[2017-09-22 14:38] skosch commented on #70
Cool, thank you @kamilc, I've merged into master. I'm sure there's potential for improvement here and there; hopefully people will just open issues if there are problems.

Go ahead with the release then (although actually maybe @Ch4s3 wants to have a look at the changes too, sorry I forgot about you – speak now or forever hold your peace :)

[2017-09-22 14:47] skosch opened #73 "Let's make mailman more attractive"
Since we have [friendly competition](https://github.com/thoughbot/bamboo) now, I think this project would benefit from a more welcoming appearance in general.

- [ ] a pleasant little logo
- [ ] better copywriting on the readme page
- [ ] proper hexdoc documentation, instead of a wall of text
- [ ] hex/CI badges

Any other ideas welcome!

[2017-09-22 14:49] skosch opened #74 "CI testing seems to be broken?"
When I open a new PR, CircleCI says
[code]
I'm not sure how to set this up, but it'd be nice to have (especially since we have some pretty good tests now, for a start at least).

[2017-09-22 14:52] skosch commented on #31
This should now be possible without having to hack `attachments.ex` – you can specify the mime type/subtype tuple directly via the `attach`/`inline` functions now.

@MisterToolbox, @Gidrek  I know it's been over a year and a half, but if you're still using this it'd be great if you could give this a try and report back if it works for you.

[2017-09-22 14:57] skosch commented on #57
The warnings are gone, but code style is still a problem. I'm going to open a new issue. Thanks for reporting this nonetheless!

[2017-09-22 14:57] #57 closed

[2017-09-22 15:00] skosch opened #75 "Code style cleanup (credo + dialyxir)"
It would be nice to include linting and type checking via `credo` and `@spec`, and to bring the code in line with conventional Elixir code formatting while we're at it.

PRs welcome!

[2017-09-22 15:02] skosch commented on #21
@kamilc I've made some changes to the readme file as I'm sure you've seen, but there's probably things missing still. Could you list what needs to be done still? Eventually it'd be nice to have proper hexdocs as well (a man can dream!) ...

[2017-09-22 15:03] #68 closed

[2017-09-22 15:07] skosch commented on #53
@satb I know it's been a while – have you found a solution to this issue? The `"John Smith <john@company.com>"` format works fine for me personally. I wonder if this has to do with gen_smtp or even with your SMTP relay? Can we get to the bottom of this?

[2017-09-22 15:14] skosch commented on #55
Hi @madshargreave, is this still an issue for you? If yes, can you provide some more detail?

Quoted-printable is just one (the most common!) way of escaping non-ASCII characters and binary data down to ASCII (i.e. 7-bit), so it's surprising that this should cause an issue with links. That's not to say I don't believe you, but we really won't be able to help without a specific example.

If you've

[2017-09-22 15:17] skosch commented on #33
Are you suggesting 8-bit encoding? If so, can you provide a use case? Frankly, this hasn't come up as a priority, so I don't foresee this being added in the near future, but if you can offer a PR, go ahead.

[2017-09-22 15:20] skosch commented on #25
In fact, I think it would be nice if we offered more flexibility, similar to what thoughbot's bamboo library is doing (blocking, non-blocking, optional delays, etc. are all useful to have depending on the situation).

[2017-09-22 15:27] skosch commented on #65
Custom email headers are now supported in master! Please give it a try and let us know if it works for you.

[2017-09-22 17:17] satb commented on #53
@skosch - I moved to Bamboo ever since. You have to write your own SES adapter but its no big deal to write that. Bamboo is well designed and works well. I'd recommend that one. It has worked well for me - https://github.com/thoughtbot/bamboo

[2017-09-22 21:55] skosch commented on #53
@satb Great! Mailman still has other features I need (in my case, attachment management) that bamboo hasn't been able to provide me, so I'm helping to maintain this one for the time being :)

[2017-09-22 21:55] #53 closed

[2017-09-22 22:09] satb commented on #53
@skosch - Attachments are supported in bamboo although I didn't use it for my use case.

https://github.com/thoughtbot/bamboo/blob/master/lib/bamboo/attachment.ex

Another option is to include a link to S3 in the email and push your attachment to S3.

[2017-10-15 11:14] arunvelsriram opened #76 "Add CONTRIBUTING.md"
Hi. Having a contributing guide will be really helpful for people who are interested in fixing bugs and adding features.

[2017-10-29 22:22] skosch commented on #76
Agreed, always nice to have. Personally I think as long as tests pass and the code is reasonably sane, PRs are very welcome, bonus points for new tests and docs and `@spec`s. And if someone wanted to commit (ha!) more time I wouldn't hesitate giving them push access. @arunvelsriram Do you know of any project that has a good guide we can steal?

@kamilc, @Ch4s3, any thoughts?

[2017-11-04 17:29] arunvelsriram commented on #76
@skosch Off the top of my head I would say [Terraform](https://github.com/hashicorp/terraform/blob/master/.github/CONTRIBUTING.md) and [Nevergreen](https://github.com/build-canaries/nevergreen/wiki/contributing) have a good contribution guide. Terraform's guide is very extensive so we can steal bits and pieces from it.

I have seen other good guides as well but don't remember the project names.

[2017-11-06 20:25] mradke opened #78 "The readme claims wrong version is installable through hex"
In the readme it says we need to specify the deps as follows:

[code]

This does not work since `No matching version for mailman ~> 0.4.0 (from: mix.exs) in registry` which is correct according to https://hex.pm/packages/mailman

What is the currently recommended approach to use this library? Stay with the `0.3.0` release or install `0.4.0` from Github?

[2017-11-10 16:41] skosch commented on #78
True! Thanks for catching that @mradke. I think @kamilc needs to upload the new version to hex.pm?

Until then you can use `github: "kamilc/mailman"` instead – it's what I do :)

[2017-11-10 16:48] mradke commented on #78
Thanks for reaching out. I'm also using it that way, just wanted some clarification on this 🙂
I'd like to leave this open, since the core issue would still be publishing to hex.

Anyhow: thanks for the library! 👍

[2017-11-16 09:11] kamilc commented on #78
Update: I tried to publish it to hex but it's unhappy about eiconv not being a hex package. So then I found out there is eiconv (finally) on hex but now it complains that it's in alpha... I'll have a look at it some time later in the day.

[2018-02-27 06:32] hejiaji opened #79 "All links for Contributors of README is wrong"
As title says, all link is wrong, the urls is correct but the links are wrong.

[2018-02-27 18:21] skosch commented on #79
Thanks @hejiaji, fixed!

[2018-02-27 18:21] #79 closed

[2018-05-07 14:08] maxbeizer commented on #78
@kamilc https://github.com/zotonic/eiconv/issues/4#issuecomment-387042308 . `eiconv` is now [`1.0.0`](https://hex.pm/packages/eiconv/1.0.0) !!

[2018-05-07 14:12] skosch commented on #78
Thanks @maxbeizer for being on top of this! Would you like to amend your PR with the updated version number in the mix file before I merge it?

[2018-05-07 17:34] maxbeizer commented on #78
closed by #81 ?

[2018-05-07 17:35] skosch commented on #78
oops – yes, thanks.

[2018-05-07 17:35] #78 closed

[2018-07-06 15:15] ebengt opened #82 "Certain circumstances crash from Mailman.Email.parse!"
Greetings,

I get this crash
:load_failed, 'Failed to load NIF library: \'priv/eiconv_nif.so: cannot open shared object file: No such file or directory\''
from Mailman.Email.parse!
But only when I run the program as an escript. If I start 'iex -S mix' and call Mailman.Email.parse! from the shell it is okay.
* mailman 0.4.0 (https://github.com/mailman-elixir/mailman.git) (mix)
  locked at 7c20dad
*

[2018-08-10 13:51] azuken opened #83 "Compatibility error with Elixir 1.7 when sending mail"
Hi,

I've just passed my projects to Elixir 1.7.1, with docker image. I use mailman to send confirmation mail when creating an account on my app, but I saw when I tested it after update that gen_smtp throw me an error for a missing case in a pattern matching. Here is the stack :

`[error] Task #PID<0.489.0> started from #PID<0.486.0> terminating

container             | ** (MatchError) no match of

[2018-08-17 11:06] skosch commented on #83
Thanks for the bug report @azuken, and my apologies for the delayed response! I have run into the same problem.

A new gen_smtp was released last week that seems to cover the missing case. I've updated the mix file accordingly. You can set your mix file to `{:mailman, github: "kamilc/mailman", override: true}` and run `mix deps.update mailman`, or you can wait for @kamilc to update the hex package

[2018-08-17 11:46] azuken commented on #83
No problem, I rollbacked versions and waited for a fix !

I've tested GitHub version, and it seems to work fine 👍 I will wait the hex package update to commit it on my project.

Thanks for your support !

[2018-09-10 04:06] DivvyPay commented on #83
Is there any indication when @kamilc will update the hex package?

[2018-09-10 04:07] jacobparry commented on #83
Do we know when @kamilc will update the hex package?

[2018-09-20 08:42] kamilc commented on #83
@skosch I need your input as I'm running out of ideas... I've just tried to hex.publish the package but the `mix docs` part is erroring out on me with the following message:

[code]

Is there anything that rings a bell?

[2018-10-16 15:55] TylerPachal opened #84 "`Mailmain.Email.parse!` usage"
I am trying to get a very simple example of the email parsing working, here is my code:

[code]

And here is the output:
[code]

I am trying to figure out why the headers are not being parsed correctly.  I have tried many iterations and have been unable to get the `parse!` function to do anything beside for returning the empty defaults.

[2018-12-10 13:04] kamilc commented on #83
This took way too long but this is how it goes in life sometimes :| Many Thanks @skosch for pointing me at the newer ex_doc version!

[2018-12-10 13:04] #83 closed

[2018-12-10 13:04] kamilc commented on #83
The updated package is on Hex btw

[2019-06-16 20:28] paldys opened #85 "Conflict with Erlang/OTP-22 socket module"
This is because of gen_smtp dependency.

Please, change gen_smtp version to 0.14.0, so this library is compatible with Erlang/OTP-22, it was resolved in that version. https://github.com/Vagabond/gen_smtp/issues/168

[2019-07-08 13:35] #85 closed

[2019-07-18 20:34] mworrell commented on #61
The `send_cc_and_bcc` option seems to be implemented by Mailman.

gen_smtp_client is all about sending an email to a certain recipient (envelop). It doesn't look at the headers in the email to determine the recipient.

gen_smtp_client _can_ send to multiple recipients at once, _if and only if_ they are all accepted by the same relaying server (eg. a defined relay or all on the same domain).

[2020-02-23 04:08] karlseguin opened #87 "Deprecated Httpotion"
Httpotion is now deprecated. It's a shame to have this dependency in Mailman. Any chance to remove it with something that's still maintained.

Even better would be to make the attachement downloading module (or function) configurable.

[2020-02-23 04:18] skosch commented on #87
Thanks @karlseguin, I wasn't aware of the deprecation. I won't be able to take this on within the next few weeks, but would be grateful for PRs :)

[2020-05-07 14:23] hudson2010 opened #89 "** (FunctionClauseError) no function clause matching in Mailman.Render.normalize_addresses/1"
hey mailman is crashing
** (FunctionClauseError) no function clause matching in Mailman.Render.normalize_addresses/1
(mailman 0.4.2) lib/mailman/render.ex:151: Mailman.Render.normalize_addresses("hkisitu@gmail.com")
        (mailman 0.4.2) lib/mailman/render.ex:131: Mailman.Render.headers_for/1
        (mailman 0.4.2) lib/mailman/render.ex:18: Mailman.Render.nest_parts/3
        (mailman 0.4.2) li

[2020-05-07 14:28] hudson2010 commented on #89
Please ignore , I have seen the issue , when sending mail , Mailman expects list of mails for to address

[2020-05-07 17:19] #89 closed

[2020-06-20 00:02] skosch commented on #87
The `next` branch uses HTTPoison instead, which is still maintained. We'll switch to that one as soon as the next release of gen_smtp is out.

[2020-06-20 00:02] #87 closed

[2021-03-18 15:59] lanarchyste opened #92 "Argument error with elixir 1.11.4"
I updated elixir to version 1.11.4, and since then I have the following error:

  :erlang.split_binary('250-PR0P264CA0221.outlook.office365.com Hello [37.157.224.248]\r\n', 3)
  (gen_smtp 0.14.0) /app/deps/gen_smtp/src/binstr.erl:114: :binstr.substr/3
  (gen_smtp 0.14.0) /app/deps/gen_smtp/src/gen_smtp_client.erl:623: :gen_smtp_client.read_possible_multiline_reply/1
  (gen_smtp 0.14.0) /app/deps/g

[2021-03-18 17:01] skosch commented on #92
Hey, thanks for reporting this. Looks like you're running into [this issue](https://github.com/gen-smtp/gen_smtp/issues/250), which in turn is due to a breaking change in OTP that's being discussed [here](https://github.com/erlang/otp/issues/4585).

I've subscribed to those threads; once they agree on a solution they'll hopefully release new versions of both OTP and gen_smtp, which should solve yo

[2021-03-18 17:42] lanarchyste commented on #92
Hi,

Thank you for your quick reply !

For the moment, I have downgraded the version of elixir because I don't have the need to use the latest version.

[2021-04-28 05:35] schaary opened #93 "%Mailman.deliver/2 eats my attachments"
I want forward emails by simply changing the `:to` address.

The way it goes:

1. Get email by gen_smtp.
2. Parse email with `Mailman.Email.parse!/1` into `%Mailman.Email{}`
3. Change the `:to` address `email = %Mailman.Email{}; email =  Map.put(email, :to, ["bar@example.com"])`
4. Send email by `{:ok, sent_email} = Mailman.deliver(email, config())`

After step 3 the email looks like this:

[code]

[2021-04-28 06:24] skosch commented on #93
Hey, thanks for the bug report. You're not doing anything wrong; I suppose this has simply never been tried by anyone before. Sorry!

My guess (I haven't checked this though) is that [this function](https://github.com/mailman-elixir/mailman/blob/cf5b6da436fb0d3d1d816c804aa0dbab157a0150/lib/mailman/parsing.ex#L100) doesn't add a `disposition` (which, as you can see in your example, the `disposition

[2021-04-28 12:04] schaary commented on #93
Thank you for your immediate response!

I've set the `disposition` values by hand and it worked fine. I going to create a PR.

[2021-04-28 18:16] skosch commented on #93
Thank you, looking forward to it!

[2021-06-06 00:49] packetq opened #95 "How to add dep to mix.exs"
Hi,

I'm new to Elixir. How do I add this package to the deps in mix.exs?

Thanks

[2021-06-06 01:12] skosch commented on #95
For the current version, you can see the line you need on the [hex.pm](https://hex.pm/packages/mailman) page:
[code]

[2021-06-06 01:12] #95 closed

[2021-06-06 01:23] packetq commented on #95
Hi,

Thanks!

[2021-08-16 10:03] nandorstanko commented on #53
@skosch Do you know maybe what was the reason behind this change: https://github.com/mailman-elixir/mailman/commit/5ef8d931132c0814cb03db743ee74f76004978cb ? The `"John Smith <john@company.com>"` format was working before this, but now it accepts only the `"john@company.com"` format, as the email.from is not "cleaned" from the name part. I made a custom adapter, so I've managed to make this work,

[2021-11-05 09:11] schaary opened #97 "How can I change the return path before deliver the mail?"
I would like to change the return path of the email. But no matter what I try:

[code]

or

[code]

... the return path of the outgoing email is set to the same value as the from: value.